@media screen and (min-width:1025px) {

    /*header {

        background-color: black;
        color: antiquewhite;
    }*/


    #menu-button {
        display: none;
    }
    #directory{
        padding-top: 7px;
    }



    /*img {
        max-width: 350px;
        width: 90%;
    }*/

    header {
        padding: 10px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15px;
        font-size: 20px;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #page-title {
        font-size: 1.5rem;
        text-align: center;
        margin-right: 1%;
        width: 20%;

    }

    #jazminruiz {
        width: 10%;
    }


    header nav a {

        padding-top: 20px;
        height: 65px;
        text-align: center;
        background-color: var(--accent3-color);
        color: var(--primary-color);
        text-decoration: none;
        margin: 0px;
    }


    body {
        display: flex;
        flex-direction: column;
    }




    
    footer {
        flex-direction: row;
    }

    footer div {
        width: 40%;
    }

    #social-media {
        width: 20%;
    }
    /*DIRECTORY PAGE*/
    .directorygrid{
        display: grid;

        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;


    }
    .directorygrid div {
        padding:10px;
        width: 320px;
        height: 520px;
         
    }
    .directorygrid div img {
        padding: 0px;
        align-content: center;
    
    }


}