@media screen and (min-width:900px) {

    /*header {

        background-color: black;
        color: antiquewhite;
    }*/


    #menu-button {
        display: none;
    }



    /*img {
        max-width: 350px;
        width: 90%;
    }*/

    header {
        padding: 10px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15px;
        font-size: 20px;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #page-title {
        font-size: 1.5rem;
        text-align: center;
        margin-right: 1%;
        width: 20%;

    }

    #jazminruiz {
        width: 10%;
    }


    header nav a {
        width: 15%;
        padding: 0.1%;
        text-align: center;
        background-color: var(--accent3-color);
        color: var(--primary-color);
        text-decoration: none;
        margin: 0px;
    }

    body {
        display: flex;
        flex-direction: column;
    }



    h1 {
        grid-row: 1/2;
        grid-column: 1/4;
    }
    .gridclass {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        justify-content: space-around;
        align-items: center;
    }
    .listclass{
        font-size: 15px;
    }





    footer {
        flex-direction: row;
    }

    footer div {
        width: 40%;
    }

    #social-media {
        width: 20%;
    }


}