* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --primary-color: black;
    --secondary-color: #0e1c36;
    --accent1-color: #d7f9ff;/*#c2948a;*/
    --accent2-color: #afcbff;
    --accent3-color: white;
    --accent4-color: #f9fbf2;
}

body {
    font-family: Lato, sans-serif;
    font-weight: lighter;
    /*display: flex;
    flex-direction: column;*/


}


header {
    padding: 10px;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    background-color: var(--accent3-color);
    color: var(--primary-color);
    margin-bottom: 15px;
    border-bottom: 4px groove #EDE9E8;
    font-size: 20px;
}

#menu {
    display: none;
    flex-direction: column;
    grid-column: 1/4;
    grid-row: 2/3;
}

#menu.open {

    position: relative;
    display: flex;
    height: 200px;
    margin-bottom: 50px;
    /*top: 125px;*/
}

#menu-button {
    display: block;
    height: 50px;
    margin-top: 18px;
}

header nav a {
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--accent4-color);
    color: var(--primary-color);
    text-decoration: none;

}

a:hover {
    color: blue;
    background-color: var(--accent4-color);
}

.hero {
    width: 100%;
    position: relative;
    z-index: 1;
}

.hero-text {
    position: absolute;
    z-index: 2;
    text-align: left;
    color: var(--accent3-color);
    padding-left: 10px;

}

#page-title {
    font-size: 1rem;
    padding: 30px;
    width: 20%;
    text-align: center;
    margin-right: 50px;

}

#jazminruiz {
    width: 70px;
}


h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;

}
.h1small{
    font-size: 25px;
}

h2 {
    padding: 2px;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
}

footer {
    display: flex;
    flex-direction: column;
    /*max-width: 800px;*/
    margin: 0 auto;


}

main {
    color: var(--primary-color);
    background-color: var(--accent3-color);

    align-items: center;
}

.menu {
    text-align: center;
}

footer p {
    padding: 20px;
}



.gridclass {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.listclass {

    font-size: 12px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;

}

.listclass div {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    border-top: 1px solid #7ea8be;
    height: 30px;
}

.gridclass>figure,
.gridclass section, aside , .strengths div{
    
    border-right: 3px groove #EDE9E8;
    border-bottom: 3px groove #EDE9E8;
    border-left: 1px solid #EDE9E8;
    border-top: 1px solid #EDE9E8;
    padding: 20px;
    margin: 5px;
    width: 300px;
}
.gridclass>figure{
    background-color: var(--accent3-color);
}

footer {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--accent3-color);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /*align-items: center;*/
    margin-top: 15px;
    text-align: left;
    padding: 30px 70px 30px 70px;

}

footer div {
    font-weight: 200;
}

footer span {
    padding-left: 20px;
    font-weight: bold;
}

.social-media {
    text-align: center;
    text-decoration: none;
}

/*HOME PAGE*/
.left-card {
    text-align: center;
    align-content: center;
}

.left-card div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;/*horizontalmente*/
}
.bottom-left-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.bottom-left-card h2{
    width: 100%;
}
.bottom-left-card div{
    width: 255px;
    
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    text-align: center;
}

.dark1 {
    background-color:var(--secondary-color);
    color: var(--accent3-color);
}
.dark1 div a{
    background-color: var(--accent4-color);
    color: var(--primary-color);
    padding: 15px;
    text-decoration: none;
    margin-top: 20px;
    
    width: 200px; 
}
.light1 {
    background-color: var(--accent4-color);
}
.strengths{
    text-align: center;
}
.strengths div{
    width: 250px;
}

.light2{
    background-color: var(--accent1-color);

}
.light2 img{
    background-color: var(--primary-color);
    
}

/*THANK PAGE*/
.centerbox{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    width: 50%;
    min-width: 200px;
    padding: 5%;
    border-right: 3px groove #EDE9E8;
    border-bottom: 3px groove #EDE9E8;
    border-left: 1px solid #EDE9E8;
    border-top: 1px solid #EDE9E8;
    background-color: var(--accent2-color);
}
#filledform >p{
    text-align: center;
    margin-bottom: 5px;
}